<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="nicomirror.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
    <userSettings>
        <nicomirror.My.MySettings>
            <setting name="txtaddress" serializeAs="String">
                <value />
            </setting>
            <setting name="txtpass" serializeAs="String">
                <value />
            </setting>
            <setting name="numinterval_monitor" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="numwid" serializeAs="String">
                <value>320</value>
            </setting>
            <setting name="numhei" serializeAs="String">
                <value>180</value>
            </setting>
            <setting name="numscroll_x" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="numscroll_y" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="chklabel" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="numfontsize" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="chklabelview" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="chkfullscreen" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="chkclip" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="numfore_r" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="numfore_g" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="numfore_b" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="numback_r" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="numback_g" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="numback_b" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="txtfontname" serializeAs="String">
                <value>Meiryo UI</value>
            </setting>
            <setting name="chkmulti" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="numsukima" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="numheight" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="numx" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="numy" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="numval_x" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="numval_y" serializeAs="String">
                <value>16</value>
            </setting>
            <setting name="chklogin_auto" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="chk2factor" serializeAs="String">
                <value>False</value>
            </setting>
        </nicomirror.My.MySettings>
    </userSettings>
</configuration>
